    <div class="elementor elementor-1048">
        <div class="elementor-inner">
            <div class="elementor-section-wrap">
                <section data-id="eea788d"
                         class="elementor-element elementor-element-eea788d elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                         data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div data-id="9faa59c"
                                 class="elementor-element elementor-element-9faa59c elementor-column elementor-col-100 elementor-top-column"
                                 data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="66f3e3c"
                                             class="elementor-element elementor-element-66f3e3c elementor-widget elementor-widget-heading"
                                             data-element_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h1 class="elementor-heading-title elementor-size-default">404</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-id="a6bfee4"
                         class="elementor-element elementor-element-a6bfee4 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                         data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div data-id="363050d"
                                 class="elementor-element elementor-element-363050d elementor-column elementor-col-100 elementor-top-column"
                                 data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="0416eae"
                                             class="elementor-element elementor-element-0416eae elementor-widget elementor-widget-heading"
                                             data-element_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h1 class="elementor-heading-title elementor-size-default">We're sorry,
                                                    we can't find the page that you're looking for</h1></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>